.row {
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
}

#alertrow-top {
	padding-top: 15px;
}

#lampiconbox {
	padding-top: 80px;
	font-size: 120px;
}

#toprow {
	padding-top: 20px;
	padding-bottom: 0px;
}

#infoicon-top {
	font-size: 45px;
	padding-top: 0px;
}

#infoicon-bottom {
	font-size: 45px;
	padding-top: 0px;
}

#alertrowbox {
	padding-top: 8px;
	padding-bottom: 0px;
}
